html {
  background: url(shopping.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 100%;
}

ul {
  text-align: center;
  list-style-position: inside;
}

li {
  display: inline-flex;
  background-color: white;
  margin-bottom: 5px;
  border: solid;
  padding: 10px;
  width: auto;
  justify-content: center;
}

span {
  margin-right: 30px;
}

.done {
  text-decoration: line-through;
}
